body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.calculator h1 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

input, select {
    margin-bottom: 10px; 
}

button {
    background-color: #865d26;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #68471e;
}

#result {
    font-size: 18px;
    color: #333;
}
